@charset "UTF-8";

body {background-color:#cef;
padding: 1.5em 1em;
font-family: sans-serif;}

ul {margin: 2.5em 1.5em;
padding-left: 1.5em !important
 /* css적용 우선 순위를 가장 높임 */;}

.bold {font-weight: bold;}

.bwn {color: #730;}




































