@charset "UTF-8";

body {
font-family: 'Nanum Gothic', sans-serif;}

 /* 1. font-size 글자 크기 */
#sec01 {font-size: 20px;} 
.fs01 {font-size: 16px;}
.fs02 {font-size: 12px;}
.fs03 {font-size: 20px;}
.fs04 {font-size: 1em;}
.fs05 {font-size: 0.75em;}
.fs06 {font-size: 1.25em;}
.fs07 {font-size: 1rem;}
.fs08 {font-size: 0.75rem;}
.fs09 {font-size: 1.25rem;}

/* 2.font-weight 글자두께 */
.fw01 {font-weight: 100;}
.fw02 {font-weight: 200;}
.fw03 {font-weight: 300;}
.fw04 {font-weight: 400;}
.fw05 {font-weight: 500;}
.fw06 {font-weight: 600;}
.fw07 {font-weight: 700;}
.fw08 {font-weight: 800;}
.fw09 {font-weight: 900;}
.fwb {font-weight: bold;}
.fwn {
font-size:1.2em;	
font-weight: normal;
color: #a40;	}


/* 3. font-style 글자 기울기 */
.fst01 {font-style: italic;}
.fst02 {font-style: oblique;}
.fst03 {font-style: normal;}
.fst03:hover {
 /* 
A:hover는 요소A에 마우스오버일 때만
적용되는 상태선택자  */	
 font-style: italic;
 color: #379;}


 /* 4. font-family 서체 */
.ul02 {
font-family: "돋움", "굴림", sans-serif;}

.ff01 {
font-family:
"Georgia", "Garamond", "Times New Roman", serif;}

.ff02 {font-family:
"Verdana", "Arial", "Helvetica", sans-serif;}

.ff03 {font-family:
"Brush Script MT", 
"Lucida Handwriting", cursive; }

/* fonts.google.com
font-family: 'Cute Font', cursive;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;
 */

.ff04 {
font-family: 'Nanum Myeongjo', serif;}

.ff05 {
font-family: 'Cute Font', cursive;	
}































