<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Cafe_ONDA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
<!--   가상주소를 실제파일 연결하는 파일경로
=> 처리담장자(서블릿) 파일 => 주소매핑파일 지정 
=> 개발자가 주소매핑 작업을 하도록 처리담당자(서블릿) 지정시켜줌 -->
<!-- http://localhost:8080/Model2/insertForm.me -->
<servlet>
	<servlet-name>MemberFrontController</servlet-name>
	<servlet-class>com.itwillbs.member.action.MemberFrontController</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>MemberFrontController</servlet-name>
	<url-pattern>*.me</url-pattern>
</servlet-mapping>



<servlet>
	<servlet-name>CartFrontController</servlet-name>
	<servlet-class>com.itwillbs.cart.action.CartFrontController</servlet-class>  <!-- 실제 파일 연결 -->
</servlet>
<servlet-mapping>
	<servlet-name>CartFrontController</servlet-name>
	<url-pattern>*.ca</url-pattern>
</servlet-mapping>
  
  
  
</web-app>